<h2>Choose one response:</h2>

<form action="/<%= link %>"" method="post">

	<% for (var i = 0; i < choiceTitles.length; i++) { %>

	<input id="choiceIndex<%=i%>"" name="choiceIndex" value=<%= i %> type="radio"></button>
	<label for="choiceIndex<%=i%>"> <%= choiceTitles[i]%> </label>
	<br>

	<% } %>
	<div class="pure-g">
		<div class="pure-u-1-5">
			<a class="pure-button" href="/<%= link%>/results" type="button">View Results</a>
		</div>
		<div class="pure-u-4-5">
			<button class="pure-button pure-button-primary" type="submit">Submit</button>
		</div>
	</div>
</form> 

