<h5>Choose one response:</h5>

<form action="/<%= link %>"" method="post" onsubmit="f();">
	<div class="list-group align-self-center">
		<% for (var i = 0; i < choiceTitles.length; i++) { %>
		<div id="choice<%=i%>" class="list-group-item list-group-item-action" onclick="checkOff(this)">
			<input id="choiceIndex<%=i%>"" name="choiceIndex" value=<%= i %> type="radio">
			<label for="choiceIndex<%=i%>"> <%= choiceTitles[i]%> </label>
			
		</div>
	<% } %>
	</div>
	
	<div class="container">
		<% if (votersCanSeeResultsBefore) {%>
		<div class="row">
			<div class="col-8">
				<a class="btn btn-secondary" href="/<%= link%>/results" role="button">View Results</a>

			</div>
			<div class="col-4">
				<button class="btn btn-success" type="submit">Submit</button>
			</div>

			<% } else { %>
			<button class="btn btn-success btn-block" type="submit">Submit</button>
			<% }%>
		</div>
	</div>

</form> 

